<div class="container-fluid">

  <div class="card text-center mt-5">
    <div class="card-body mt-4">
      <h1 class="card-title">URL Shortener</h1>
      <div class="text-center">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          class="rounded mt-3" style="width: 150px;" alt="...">
      </div>
    </div>
    <div class="card-body mt-4">
      <h4 class="">Success! Please use this link:</h4>
      <p class="card-text">wwww...</p>
      <button class="btn btn-primary mt-3" type="submit">Copy</button>
    </div>
  </div>

</div>