<div class="container-fluid">

  <div class="card text-center mt-5">
    <div class="card-body mt-4">
      <a style="font-size: 30px; text-decoration:none; color:black;" href="/" class="card-title">URL Shortener</a>
      <div class="text-center">
        <a href="/">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            class="rounded mt-3" style="width: 150px;" alt="...">
        </a>
      </div>
    </div>
    <div class="card-body mt-4">
      <h4 class="">Success! Please use this link:</h4>
      <span style="display: block; color: blue;" id="shortenURL">http://localhost:3000/{{generateURL}}</span>
      <button type="button" class="btn btn-primary mt-2" onclick="copyURL()" data-toggle="tooltip"
        title="Copy to Clipboard" value="copy link" readonly>Copy</button>

      <script>
        function copyURL() {
          let copyText = document.getElementById("shortenURL")
          var selection = window.getSelection();
          var range = document.createRange();
          range.selectNodeContents(copyText);
          selection.removeAllRanges();
          selection.addRange(range);
          document.execCommand('copy');
        }
      </script>


    </div>
  </div>

</div>